body{
    margin: 0;
}

header{
    background-color: #1f2937;
    color: white;
    display:flex;
    align-items: center;
    padding: 20px;
    height: 120px;
    
}

.logo{
    flex: 1;
    background-image: url('pictures/auto_car-16.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.nav-item{
    display: inline;
    font-size:24px;
    margin-right:20px  
}

.nav-item a{
    color:white;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
}



