body{
    margin: 0;
}

header{
    background-color: #1f2937;
    color: white;
    display:flex;
    align-items: center;
    padding: 20px;
    height: 100px;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo{
    background-image: url('pictures/auto_car-16.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    
}

.logo-title{
    font-size:48px;
    color:white;
    margin-right:20px;
}


.nav-item{
    display: inline;
    font-size:18px;
    margin-right:20px  
}

.nav-item a{
    color:white;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
}





